html {
  font-size: 18px;
  font-family: "Courier New", Courier, monospace;
}

body {
  background-color: black;
  color: whitesmoke;
}

a {
  color: aliceblue;
}

a:visited {
  color: lightgray;
}

a:hover,
a:active {
  color: #eee;
}

table,
tr,
th,
td,
caption {
  border: 1px solid #eee;
  font-family: "Courier New", Courier, monospace;
  border-collapse: collapse;
  padding: 0.5em;
}

.para1 {
  color: rgb(181, 181, 200);
}

#p2 {
  color: rgb(238, 182, 182);
}

h1 em {
  color: rgb(207, 245, 245);
}

.\31 2 {
  color: blanchedalmond;
}

#\31 1 {
  color: antiquewhite;
}
